.homePage {
    display: grid;
    overflow: hidden;
    grid-template-areas: "hd"
                         "main";
    grid-template-columns: auto;
    grid-template-rows: 60px minmax(0, 1fr);
    
    height: 100vh;
}

.title {
    text-transform: uppercase;
    grid-area: hd;
    background-color: #264653;
    display: flex;
    justify-content: center;
    align-items: center;
    color : white;
}

.center {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
}

