body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /* CSS HEX */
  --turquoise-green: #bdd9bfff;
  --charcoal: #2e4052ff;
  --maximum-yellow-red: #ffc857ff;
  --white: #ffffffff;
  --dark-purple: #412234ff;
  }